.home {
  width: 100%;
  min-height: 100vh;

  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;

  background-image:
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("/images/hero-car.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 24px;
}
.title {
  font-family: var(--font-family);
  font-weight: var(--fw-bold);
  font-size: 60px;
  line-height: 1.2;
  text-align: center;
  color: var(--white);
  margin-top: 440px;
  margin-bottom: 16px;
}

.text {
  font-family: var(--font-family);
  font-weight: var(--fw-semibold);
  font-size: var(--fz-24);
  line-height: 1.33;
  text-align: center;
  color: var(--white);
}

.heroButton {
  margin-top: 40px;

  width: 276px;
  height: 44px;
}
