.FilterForm {
  display: flex;
  justify-content: center;
  gap: 16px;

  margin: 84px auto 60px;

  align-items: flex-start;
}

.form {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.fieldWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.label {
  font-family: var(--font-family);
  font-weight: var(--fw-regular);
  font-size: var(--fz-12);
  line-height: 1.33;
  color: var(--gray);
}

.select {
  width: 204px;
  height: 44px;

  padding: 0 16px;

  border: none;

  border-radius: 12px;

  background-color: var(--white);

  font-size: var(--fz-16);
  font-weight: var(--fw-medium);
  line-height: 1.25;
  color: var(--main);

  outline: none;
  cursor: pointer;

  appearance: none;

  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='none' viewBox='0 0 16 16'%3E%3Cpath stroke='%23101828' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5' d='m4 6 4 4 4-4'/%3E%3C/svg%3E");

  background-repeat: no-repeat;
  background-position: right 16px center;
}

/* .select:focus {
  border: 1px solid var(--light-blue);
} */

.select:hover,
.select:focus {
  border-color: var(--light-blue);
}
.select option {
  color: var(--main);
  background-color: var(--white);
}

.mileageGroup {
  display: flex;
}

.mileageInput {
  width: 160px;
  height: 44px;

  border: none;
  outline: none;
  padding: 0 16px;

  font-size: var(--fz-16);
  font-weight: var(--fw-medium);
  line-height: 1.25;
  color: var(--main);

  background-color: var(--white);
}

.mileageInput:first-child {
  border-radius: 12px 0 0 12px;
  border-right: 1px solid var(--gray-light);
}

.mileageInput:last-child {
  border-radius: 0 12px 12px 0;
}

.mileageInput::placeholder {
  color: var(--main);
}

.actions {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  gap: 8px;
}

.button {
  width: 156px;
  height: 44px;

  border: none;
  border-radius: 12px;

  background-color: var(--light-blue);

  font-size: var(--fz-16);
  font-weight: var(--fw-semibold);
  line-height: 1.25;
  color: var(--white);

  cursor: pointer;

  transition: background-color 250ms ease;
}

.button:hover,
.button:focus {
  background-color: var(--dark-blue);
}

.clearButton {
  border: none;
  background-color: transparent;

  font-size: var(--fz-16);
  line-height: 1.25;
  color: var(--gray);

  cursor: pointer;

  transition: color 250ms ease;
}

.clearButton:hover,
.clearButton:focus {
  color: var(--dark-blue);
}
